{% extends 'base.html' %} {% block body %}

<div class="content pure-u-1 pure-u-md-3-4">
    <div>
        <div class="posts">
            <section class="post">
                <header class="post-header">
                    <hr>

                    <a href="{{ cate.get_absolute_url }}">
                        <h2 class="post-title">{{ cate.name }}</h2>
                    </a>
                </header>
                <div class="post-description">

                    <ul>{% for post in post_list %}
                        <li>
                            <a href="{{ post.get_absolute_url }}" target="_blank">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </section>
        </div>
    </div>
</div>
{% endblock body %}